<script type="text/javascript">

(function(){
    'use strict';
    angular.module("programModule")
    .controller("ProgramController", ["$scope", "RESTfulService", "$resource", "$q", function($scope, RESTfulService, $resource, $q){
        var vm = this;
        vm.number = 1234;
        vm.text = "module authority test";
        vm.label = {
            msgGrpCd: "그룹 코드",
            msgCd: "메세지 코드"
        }
        vm.disabled = true;
        vm.disableChange = function(){
            vm.disabled ? vm.disabled = false : vm.disabled = true;
        }
        vm.grid1Data = [];
        vm.grid2Data = [];
        vm.grid2columns = [];
        vm.search = function(){
            /* if(confirm("조회 하시겠습니까?"))
                alert("search"); */
            console.log(vm.grid);
                var list1 = RESTfulService.getList({area: "app", service: "messages", 
                    inquiry: "getMessageListByParam", 
                    q: "msgGrpCd=MSG", 
                    offset: 0, limit: 10}).$promise;
                var list2 = RESTfulService.getList({area: "app", service: "messages", 
                    inquiry: "getMessageListByParam", 
                    q: "msgGrpCd=MSG", 
                    offset: 0, limit: 10}).$promise;
                var param = ""
                list1.then(
                        function(data){
                            vm.grid1Data = angular.fromJson(angular.toJson(data));
                            return RESTfulService.getList({area: "app", service: "messages", 
                                inquiry: "getMessageLocaleListByParam", 
                                msgGrpCd: "MSG", 
                                msgCd: data[0].MSG_CD}).$promise;
                        },
                        function(error){
                            
                        }
                )
                .then(function(data){
                    vm.grid2Data = angular.fromJson(angular.toJson(data));
                },function(error){
                    
                })
                /* $q.all([list1, list2])
                .then(
                function success(data){
                    console.log(data);
                    vm.grid1Data = angular.fromJson(angular.toJson(data[0]));
                    vm.grid2Data = angular.fromJson(angular.toJson(data[1]));
                }
                ,function error(data){
                    console.log("erroer");
                }) */
            /* vm.grid.setDataSource(new kendo.data.DataSource({
                transport: {
                    read: function(options){
                        var service = RESTfulService.getList({area: "app", service: "messages", 
                            inquiry: "getMessageListByParam", 
                            q: "msgGrpCd=MSG", 
                            offset: 0, limit: 10});
                        service.$promise.then(
                        function success(data){
                            console.log(data);
                            options.success(angular.fromJson(angular.toJson(data)));
                        }
                        ,function error(data){
                            options.error(data);
                        });
                        //console.log(data);
                    },//"//demos.telerik.com/kendo-ui/service/Northwind.svc/Employees",
                    update: function(option){
                        console.log(option);
                    }
                },
                pageSize: 7,
                serverPaging: true,
                serverSorting: true
            })); */
            /* vm.grid2Data = {data: [{FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"}
            ],pageSize: 7
            }; */
            //not working
            //vm.grid2.setDataSource([{FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"}]);
        };
    }]);
})();

</script>
<div id="program" data-dynamic-controller="ProgramController as vm">
    <div class="btn_cbox">
        <div class="bnt_l">
            <input type="button" k-scope-field="vm.btn_Create" name="" class="btn_a1" value="활성토글" title="" ng-click="vm.disableChange()" />
        </div>
        <div class="bnt_r">
            <kendo-button k-scope-field="vm.btn_Search" class="btn_a1" k-on-click="vm.search()">조 회</kendo-button>
            <kendo-button k-scope-field="vm.btn_Search" class="btn_a3" k-on-click="vm.search()" ng-disabled="vm.disabled"
                sprite-css-class ="'k-icon k-i-refresh'">동적활성버튼</kendo-button>
            <kendo-button k-scope-field="vm.btn_Search" class="btn_a3" k-on-click="vm.search()" disabled="disabled">태그</kendo-button>
            <input sprite-css-class ="'k-icon k-i-refresh'" type="button" name="" class="btn_a3" value="동적활성버튼" title="" ng-click="vm.search()" ng-disabled="vm.disabled"/>
            <input type="button" name="" class="btn_a3" value="ng태그" title="" ng-click="vm.search()" ng-disabled="true"/>
            <input type="button" name="" class="btn_a3" value="태그" title="" ng-click="vm.search()" disabled="disabled"/>
        </div>
    </div>
    <div class="searchbox">
        <label for="name">serachbox</label>
        <input name="name" class="k-textbox" />
        <table>
            <colgroup>
                <col width="100px"><col width="">
                <col width="100px"><col width="">
                <col width="100px"><col width="">
                <col width="100px"><col width="">
            </colgroup>
            <tbody>
                <tr>
                    <th ng-bind="vm.label.msgGrpCd">부서</th>
                    <td>
                        <select class="sel2" title="" ng-disabled="vm.disabled">
                            <option value="MSG">메세지</option>
                            <option value="LAB">라벨</option>
                        </select>
                    </td>
                    <th ng-bind="vm.label.msgCd">부서1</th>
                    <td>
                        <select kendo-combo-box class="sel2" ng-disabled="vm.disabled" title="">
                            <option value="MSG">메세지</option>
                            <option value="LAB">라벨</option>
                        </select>
                    </td>
                    <th ng-bind="vm.label.msgGrpCd"></th>
                    <td>
                        <common-code-test code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST" ng-disabled="vm.disabled"></common-code-test>
                    </td>
                    <th ng-bind="vm.label.msgCd"></th>
                    <td>
                        <common-code-Combo code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST" ng-disabled="vm.disabled"></common-code-Combo>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="datatable1">
        
    </div>
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.grid" ims-grid k-options="imsgrid.options" k-data-source="vm.grid1Data" k-ng-delay="vm.grid2Data" ></kendo-grid>
    </div>
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.grid2" ims-grid k-options="imsgrid.options" k-data-source="vm.grid2Data" k-ng-delay="vm.grid2Data" k-columns="vm.grid2columns"></kendo-grid>
    </div>

</div>