
<div class="dashboard_box">
    
    <div class="lbox">
        <div class="txtbox">
            <p class="t"><img src="img/common/img_logo2.png" alt="TEAMS"></p>
            <ul>
                <li><a href="#"><img src="img/common/btn_menu1.png" alt="Total"></a></li>
                <li><a href="#"><img src="img/common/btn_menu2.png" alt="Enhanced logitstics"></a></li>
                <li><a href="#"><img src="img/common/btn_menu3.png" alt="Application"></a></li>
                <li><a href="#"><img src="img/common/btn_menu4.png" alt="Management"></a></li>
                <li><a href="#"><img src="img/common/btn_menu5.png" alt="System"></a></li>
            </ul>
        </div>
        
    </div>
    
    <div class="rbox">
        <div class="board_list">
            <dl>
                <dt>공지사항</dt>
                <dd>
                    <p class="t"><a href="#">[2015-06-12] 자가운송 승인업무 etrans이관</a></p>
                    <span class="txt">
                        2015년 6월 16일 (화) 오전 9시이후 부산/경남지역 자가승인<br />
                        요청은 etrans로 이관되었음을 알려드립니다.<br />
                        문의: 부산사무소 김신우<br />
                        Tel: 051-660-3130
                    </span>
                </dd>
            </dl>
        </div>
        
        <div class="board_list">
            <dl>
                <dt>My menu</dt>
                <dd>
                    <ul>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 배차</a></li>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 티 운송완료 및 pod 전송</a></li>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 티오더 수신</a></li>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 운송오더 관리</a></li>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 셔틀세부 배차</a></li>
                        <li><a href="#"><strong class="t1">[cttrs 1080]</strong> 셔틀배차</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        
        <div class="board_list">
            <dl>
                <dt>Help desk</dt>
                <dd>
                    <ul>
                        <li><a href="#"><strong class="t1 w1">[<span>(알림3)</span> 개인정보 시스템...] </strong> <span class="t2">문재홍</span> 2014-11-10</a></li>
                        <li><a href="#"><strong class="t1 w1">[<span>(알림3)</span> 개인정보 시스템...] </strong> <span class="t2">문재홍</span> 2014-11-10</a></li>
                        <li><a href="#"><strong class="t1 w1">[<span>(알림3)</span> 개인정보 시스템...] </strong> <span class="t2">문재홍</span> 2014-11-10</a></li>
                        <li><a href="#"><strong class="t1 w1">[Help Desk Service입니다.! ]  </strong> <span class="t2">문재홍</span> 2014-11-10</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        
        <div class="board_list">
            <dl>
                <dt>Recent menu</dt>
                <dd>
                    <ul>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Jop Plan</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Work Order Management (T)</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">nbound Work Order Creation (EU)</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Inbound EDI Message Control</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Block Train Planning (EU)</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Inbound Work Order Creation (EU)</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Inbound EDI Message Control</strong></a></li>
                        <li><a href="#"><strong class="t1">[<span>4131</span>] </strong> <strong class="t3">Block Train Planning (EU)</strong></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        
    </div>
</div>