<div id="header">
    <div class="logo"><img src="img/common/img_logo_s3.png" alt="TEAMS"></div>
    <div class="topmenu">
        <div class="top_search">
            <input type="text" name="" value="" placeholder="Search" class="ip" title="" />
            <input type="button" name="" class="btn_search" value="" title="" />
        </div>
        <ul>
            <li class="w1"><span class="alarm"><span>알림:</span><strong>20</strong></span></li>
            <li><a href="#"><img src="img/common/btn_topmenu1.gif" alt="새로고침"></a></li>
            <li><a href="#" ng-click="nav.logout()"><img src="img/common/btn_topmenu2.gif" alt="logout"></a></li>
        </ul>
    </div>
    <div class="allmenu">
        <a href="javascript:void(0)" class="btn_all" ng-click="menu.all()"><img src="img/common/btn_allmenu.gif"
            class="btn_all" alt="전체메뉴"> Program</a>
    </div>
</div>
<div program-menu></div>

