@import url(https://fonts.googleapis.com/css?family=Lato:400,900,900italic,700italic,400italic,300italic,700,100italic,300,100);
@font-face{
font-family:"NanumGothic";
src: url('fonts/NanumGothic.eot');
src: url('fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/NanumGothic.woff') format('woff'), 
		 url('fonts/NanumGothic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:"NanumGothicBold";
src: url('fonts/NanumGothicBold.eot')format('eot');
src: url('fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/NanumGothicBold.woff') format('woff'), 
		 url('fonts/NanumGothicBold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
*{font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif;}

.ll-skin-latoja  {
	font-size: 90%;
}

.ll-skin-latoja  .ui-widget {
	font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif;
}

.ll-skin-latoja  .ui-datepicker {
	padding: 0;
}

.ll-skin-latoja  .ui-widget-content {
	border: none;
	background: #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	box-shadow: 0 1px 3px rgba(0,0,0,.19);
}

.ll-skin-latoja  .ui-datepicker-header {
	font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif;
	color: #fff;
	padding: 0;
	border-top: 1px solid #077bb3;
	border-bottom: none;
	overflow: hidden;
	height: 34px;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background: #1088c2;
}

.ll-skin-latoja  .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-title {
	line-height: 34px;
	font-weight: normal;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-prev, 
.ll-skin-latoja  .ui-datepicker .ui-datepicker-next {
	top:0;
	width:25px;
	height:34px;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ll-skin-latoja  .ui-datepicker .ui-datepicker-next.ui-state-hover {
	top:0;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-prev {
	left: 0;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-next {
	right: 0;
}

.ll-skin-latoja  .ui-datepicker .ui-datepicker-prev span, 
.ll-skin-latoja  .ui-datepicker .ui-datepicker-next span {
	top:0;
}

.ll-skin-latoja  .ui-icon-circle-triangle-e {
	background: url(images/btn_next.png);
	width:25px;
	height:34px;
	display:block;
	cursor:pointer;
}

.ll-skin-latoja  .ui-icon-circle-triangle-w {
	background: url(images/btn_prev.png);
	width:25px;
	height:34px;
	display:block;
	cursor:pointer;
}

.ll-skin-latoja  .ui-datepicker table {
	margin: 0;
}

.ll-skin-latoja  .ui-datepicker th {
	height:26px;
	line-height:26px;
	text-transform: uppercase;
	color: #b3b3b3;
	font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif;
	font-weight: normal;
	font-size:11px;
	border-top: none;
	padding:0;
	margin:0;
}

.ll-skin-latoja  .ui-datepicker td {
	border: none;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	width:30px !important;
	height:30px;
	padding:0;
	margin:0;
}

.ll-skin-latoja  td:last-child {
	border-right: 0;
}

.ll-skin-latoja  td .ui-state-default {
	background: transparent;
	border: none;
	color: #2b2b2b;
	font-size:14px;
	margin: 0;
	font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif;
	font-weight: normal;
	text-align: center;
	padding:0;
	margin:0;
}

.ll-skin-latoja  .ui-datepicker-calendar .ui-state-hover {
	background: #ededed;
	color: #9f9f9f;
}

.ll-skin-latoja  td a.ui-state-active,
.ll-skin-latoja  td a.ui-state-active.ui-state-hover {
	color: #fff;
	line-height:30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.45);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: -o-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: -webkit-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background: #1088c2;
}


.ui-datepicker-month { color:#fff; font-size:18px; font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif; text-transform:capitalize; display:inline-block; margin:0 0 0 5px; }
.ui-datepicker-year  { color:#fff; font-size:18px; font-family:'Lato','NanumGothic', '³ª´®°íµñ', sans-serif; }