<div id="program" >
    <script type="text/javascript">
    /* console.log("program script start");
    var controller = function ($scope, $injector){
        console.log("ui-router controller apply");
        var vm = this;
        vm.number = 155800;
        vm.text = "function authority test";
    }; */
    (function(){
        'use strict';
        function ProgramController($scope, $injector){
            console.log("module controller");
            console.log(this);
            var vm = this;
            vm.number = 3588500;
            vm.text = "module authority test";
        }
        
        ProgramController.injector = ["$scope", "$injector"];
        programModule

    })();

    </script>
    <div class="content">
        <div></div>
        <p>{{program.id}}</p>
        <div id="prgm" class="content">
            <p>authority</p>
            <p>{{vm.number}}</p>
            <span>{{vm.text}}</span>
            <span>{{text}}</span>
        </div>
    </div>
</div>