
<script type="text/javascript">
/* console.log("program script start");
var controller = function ($scope, $injector){
    console.log("ui-router controller apply");
    var vm = this;
    vm.number = 155800;
    vm.text = "function authority test";
}; */
(function(){
    'use strict';
    angular.module("programModule")
    .controller("ProgramController", ["$scope", "RESTfulService", "$resource", "$q", function($scope, RESTfulService, $resource, $q){
        var vm = this;
        vm.number = 1234;
        vm.text = "module authority test";
        vm.grid1Data = [];
        vm.grid2Data = [];
        vm.grid2columns = [];
        vm.search = function(){
            /* if(confirm("조회 하시겠습니까?"))
                alert("search"); */
            console.log(vm.grid);
                var list1 = RESTfulService.getList({area: "app", service: "messages", 
                    inquiry: "getMessageListByParam", 
                    q: "msgGrpCd=MSG", 
                    offset: 0, limit: 10}).$promise;
                var list2 = RESTfulService.getList({area: "app", service: "messages", 
                    inquiry: "getMessageListByParam", 
                    q: "msgGrpCd=MSG", 
                    offset: 0, limit: 10}).$promise;
                var param = ""
                list1.then(
                        function(data){
                            vm.grid1Data = angular.fromJson(angular.toJson(data));
                            return RESTfulService.getList({area: "app", service: "messages", 
                                inquiry: "getMessageLocaleListByParam", 
                                msgGrpCd: "MSG", 
                                msgCd: data[0].MSG_CD}).$promise;
                        },
                        function(error){
                            
                        }
                )
                .then(function(data){
                    vm.grid2Data = angular.fromJson(angular.toJson(data));
                },function(error){
                    
                })
                /* $q.all([list1, list2])
                .then(
                function success(data){
                    console.log(data);
                    vm.grid1Data = angular.fromJson(angular.toJson(data[0]));
                    vm.grid2Data = angular.fromJson(angular.toJson(data[1]));
                }
                ,function error(data){
                    console.log("erroer");
                }) */
            /* vm.grid.setDataSource(new kendo.data.DataSource({
                transport: {
                    read: function(options){
                        var service = RESTfulService.getList({area: "app", service: "messages", 
                            inquiry: "getMessageListByParam", 
                            q: "msgGrpCd=MSG", 
                            offset: 0, limit: 10});
                        service.$promise.then(
                        function success(data){
                            console.log(data);
                            options.success(angular.fromJson(angular.toJson(data)));
                        }
                        ,function error(data){
                            options.error(data);
                        });
                        //console.log(data);
                    },//"//demos.telerik.com/kendo-ui/service/Northwind.svc/Employees",
                    update: function(option){
                        console.log(option);
                    }
                },
                pageSize: 7,
                serverPaging: true,
                serverSorting: true
            })); */
            /* vm.grid2Data = {data: [{FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"},
                            {FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"}
            ],pageSize: 7
            }; */
            //not working
            //vm.grid2.setDataSource([{FirstName: "Nancy", LastName:"Davolio", Country: "USA", City: "Seattle", Title: "Sales Representative"}]);
        };
    }]);
})();

</script>
<div id="program" data-dynamic-controller="ProgramController as vm">
    <div class="btn_cbox">
        <div class="bnt_l">
        </div>
        <div class="bnt_r">
            <kendo-button k-scope-field="vm.btn_Search" k-on-click="vm.search()">조회</kendo-button>
            <input type="button" k-scope-field="vm.btn_Create" name="" class="btn_a3" value="신 규" title="" />
        </div>
    </div>
    <div class="searchbox">
        <label for="name">serachbox</label>
        <input name="name" class="k-textbox" />
    </div>
    
    <div class="datatable1">
        <p>{{program.id}}</p>
        <div id="prgm" class="content">
            <p>authority</p>
            <p>{{vm.number}}</p>
            <span>{{vm.text}}</span>
            <span>{{text}}</span>
        </div>
        <table>
            <colgroup>
                <col width="100px"><col width="">
                <col width="100px"><col width="">
                <col width="100px"><col width="">
                <col width="100px"><col width="">
            </colgroup>
            <tbody>
                <tr>
                    <th>부서</th>
                    <td>
                        <select class="sel2" title="">
                            <option></option>
                        </select>
                    </td>
                    <th>부서1</th>
                    <td>
                        <select kendo-combo-box class="sel2" title="">
                            <option></option>
                        </select>
                    </td>
                    <th>부서1</th>
                    <td>
                        <label>부서1</label>
                        <common-code-test code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-test>
                    </td>
                    <th>부서1</th>
                    <td>
                        <common-code-Combo code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-Combo>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label for="test">test</label>
                    <span><common-code-test id="test" code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-test></span>
                    
                    <label for="test1">test</label>
                    <common-code-Combo id="test1" code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-Combo>
                    <div>
                    <label for="test">test</label>
                    <input class="k-textbox" />
                    
                    <span><label for="test1">test</label><input kendo-date-picker/></span>
                    <apan><label for="test">test</label><input class="k-textbox" /></apan>
                    <span><label for="test1">test</label><input kendo-date-picker/></span>
                    <apan><label for="test">test</label><input class="k-textbox" /></apan>
                    <span><label for="test1">test</label><input kendo-date-picker/></span>
                    <apan><label for="test">test</label><input class="k-textbox" /></apan>
                    <span><label for="test1">test</label><input kendo-date-picker/></span>
                    <apan><label for="test">test</label><input class="k-textbox" /></apan>
                    <span><label for="test1">test</label><input kendo-date-picker/></span>
                    <apan><label for="test">test</label><input class="k-textbox" /></apan>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
        <label for="test">test</label>
        <common-code-test id="test" code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-test>
        <label for="test1">test</label>
        <common-code-Combo id="test1" code="resource" value="RESOURCE_ID" text="RESOURCE_NM" property="MENU_LIST"></common-code-Combo>
    </div> 
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.grid" ims-grid k-options="imsgrid.options" k-data-source="vm.grid1Data" k-ng-delay="vm.grid2Data" ></kendo-grid>
    </div>
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.grid2" ims-grid k-options="imsgrid.options" k-data-source="vm.grid2Data" k-ng-delay="vm.grid2Data" k-columns="vm.grid2columns"></kendo-grid>
    </div>

</div>