<div id="program" ng-app="program">
    <script type="text/javascript">
    console.log("program script start");
    (function(){
        console.log("module");
        'use strict';
        function ProgramController($scope, $injector){
            console.log("controller");
            var vm = this;
            vm.number = 155800;
            vm.text = "authority test";
        }
        
        ProgramController.injector = ["$scope", "$injector"];
        angular.module("program", ["nxtIms"])
        .controller("ProgramController", ProgramController);
        
        angular.element("#program")
    })();

    </script>
    <div data-ng-controller="ProgramController"></div>
    <p>{{vm.id}}</p>
    <div id="prgm" class="content">
        <p>authority</p>
        <p>{{vm.number}}</p>
        <span>{{vm.text}}</span>>
    </div>
</div>