<script type="text/javascript">

(function(){
    'use strict';
    angular.module("programModule")
    .controller("ProgramController", ["$scope", "GfnService", '$filter',
                                      "KendoDataHelper", "ApiEvent", 
                                      '$kWindow', 'constants',
                                      function($scope, GfnService, $filter,
                                              KendoDataHelper, ApiEvent, 
                                              $kWindow, constants ){
        var vm = this;
        var dtlApi;
        vm.label = {
                    msgGrpCd: "그룹코드",
                    msgCd: "코드",
                    msgCdNm: "코드명"
        }
        vm.test = {
            height: 275
        }
        console.log(GfnService.getMessage("MSG.SAVE", [1]));
        vm.disabled = true;
        vm.disableChange = function(){
            vm.disabled ? vm.disabled = false : vm.disabled = true;
        }

        //grid
        //mst
        vm.gridMstData = KendoDataHelper.toKendoData({
            data: [],
            schema: {
                model: {
                    id: "MSG_PK",
                    fields: {
                        MSG_PK: { type: "string", editable: false, nullable: true },
                        MSG_GRP_CD: { type: "string", editable: true, validation: { required: true }},
                        MSG_CD: { type: "string", editable: true, validation: { required: true } },
                        MSG_NM: { type: "string", editable: true },
                        USER_ID: { type: "string", editable: false },
                        MSG_LOC_LIST: { type: "string", editable: false }
                    }
                }
            },
            change: function(e){
                console.log("MST change out");
            } 
        }, "data");
        vm.gridMstColumns = [
            {field: "MSG_PK", title: "{{'LAB.SAVE' | translate}}"},
            {field: "MSG_GRP_CD", title: "Group Code"},
            {field: "MSG_CD", title: "Code"},
            {field: "MSG_NM", title: "Message"},
            {command: ["edit"], title: "&nbsp;", width: "150px" }];
        
        //detaile
        vm.gridDtlData = KendoDataHelper.toKendoData({
            data: [],
            schema: {
                model: {
                    id: "MSG_LOC_PK",
                    fields: {
                        MSG_LOC_PK: { type: "string", editable: false, nullable: true},
                        MSG_GRP_CD: { type: "string", editable: false, validation: { required: true }},
                        MSG_CD: { type: "string", editable: false, validation: { required: true }},
                        LANG_CD: { type: "string", editable: true, validation: { required: true } },
                        MSG_NM: { type: "string", editable: true },
                        USER_ID: { type: "string", editable: false },
                        TRANSACTION_TYPE: { type: "string", editable: false }
                    }
                }
            },
            change: function(e){
                console.log("datasource change out");
            } 
        }, "data");
        vm.gridDtlColumns = [{field: "MSG_LOC_PK"},
                             {field: "MSG_GRP_CD", title: "Group Code"},
                             {field: "MSG_CD", title: "Msg Code"},
                             {field: "LANG_CD", title: "Lang Code"},
                             {field: "MSG_NM", title: "Message"},
                             {field: "TRANSACTION_TYPE"}];
        
        
        // event
        var Message = new ApiEvent("api/app/messages/:msgPk");
        
        Message.dataSource = vm.gridMstData;
        var Messagedtl = Object.create(Message);
        Messagedtl.dataSource = vm.gridDtlData;
        console.log(Message);
        console.log(Messagedtl);
        vm.addRow = function(property){
            if(vm.gridMstData.total() == 0) return;
            vm[property].addRow();
        }
        vm.removeRow = function(property){
            if(vm[property].dataSource.total() == 0) return;
            vm[property].removeRow(vm[property].select());
        }
        vm.search = function(){
            /* if(confirm("조회 하시겠습니까?"))
                alert("search"); */
                var obj = vm.search;
                var str = "";
                for(var key in obj){
                    str += key + "=" + obj[key] + ",";
                }
                str.substring(0, str.lastIndexOf(",") -1);
                console.log(str);
                Message.query({
                    inquiry: "getMessageListByParam", 
                    q: str, 
                    offset: 0, limit: 100
                }).then(
                    function(data){
                        console.log(vm.gridMstData);
                    },
                    function(error){
                        
                    }
                );
        };
        vm.gridMstChange = function(e, data, dataItem) {
            console.log(e);
            console.log("change event");
            var grid = vm.gridMst;
            var oldIdx = grid.select().index();
            var oldRowData = grid.dataItem(grid.select());
            var currIdx = grid.dataSource.indexOf(dataItem);

            //console.log(vm.mstSelectedItem);
            
        };
        vm.gridMstRowChange = function(row, rowData){
            vm.mstSelectedItem = rowData;
            console.log("row change");
            Messagedtl.query({
                inquiry: "getMessageLocaleListByParam",
                msgGrpCd: vm.mstSelectedItem.MSG_GRP_CD, 
                msgCd: vm.mstSelectedItem.MSG_CD})
            .then(function(data){
                
            }
            ,function(error){
                console.log(error);
            });

        };
        vm.gridCanChange = function(oldRow, oldData, currRow, currData){
            console.log(vm.gridMstData.isUpdated());
            if(vm.gridMstData.isUpdated()){
                return false;
            };
        }
        vm.gridMstClick = function(row, rowData){
            console.log("==click==");

        };
        vm.gridMstDblClick = function(row, rowData){
            var windowInstance = $kWindow.open({
                    options:{
                        modal: true,
                        title: "메세지 저장",
                        resizable: true,
                        height: 600,
                        width: 860,
                        visible: false
                    },
                    windowTemplateUrl: constants.popTemplUrl + "window.html",
                    templateUrl: constants.templateUrl + "app/messageP01.html",
                    controller: ["$scope", "$windowInstance", "data", function($scope, $windowInstance, data){
                        rowData.MSG_LOC_LIST = data;
                        $scope.data = rowData;
                        $scope.$windowInstance = $windowInstance;
                    }],
                    resolve: {
                        data: Messagedtl.query({
                                inquiry: "getMessageLocaleListByParam",
                                msgGrpCd: rowData.MSG_GRP_CD, 
                                msgCd: rowData.MSG_CD})
                    }
            });
            windowInstance.result.then(function (result) {
                if (result) {
                    self.result = "confirmed!";
                }
                else{
                    self.result = "canceled!";
                }
            });
        };
        vm.gridMstEdit = function(e){
            console.log(e);
            if(e.model.isNew()){
                console.log(e);
            }
        };
        vm.gridMstRemove = function(e){
            if(vm.gridMstData.UPDATE && vm.gridMstData.UPDATE.length > 0){
                alert("업데이트한 정보가 있습니다.");
                vm.gridMstData.cancelChanges();
            }
        }
        vm.gridDtlEdit = function(e){
            if(e.model.isNew()){
                e.model.MSG_GRP_CD = vm.mstSelectedItem.MSG_GRP_CD;
                e.model.MSG_CD = vm.mstSelectedItem.MSG_CD;
            }
        };
        
        //RESTful
        vm.save = function(){
            if(!vm.gridDtlData.isUpdated() && !vm.gridMstData.isUpdated()) return false;
            vm.gridMst.trigger("saveChanges");
            vm.gridDtl.trigger("saveChanges");
            
            var data = null;
            if(!vm.gridMstData.isUpdated()) {
                vm.mstSelectedItem.TRANSACTION_TYPE = "U";
                vm.gridMstData.UPDATE = new Array(vm.mstSelectedItem);
            }
            data = vm.gridMstData.UPDATE[0];
            
            if(!data) return false;
            data.MSG_LOC_LIST = vm.gridDtlData.UPDATE;
            Message.saveChanges({msgPk: data.MSG_PK}
            ,function(response){
                console.log(response);
            },function(error){
                console.log(error.data.MESSAGE);
            });
        };
        vm.gridMstSavechange = function(e){
            console.log("gridMstSavechange");
            //console.log(e);
        }
        vm.iputchange = function(){
            //$scope.$applyAsync($scope.$apply());
        }
    }]);
})();

</script>
<div id="program" data-dynamic-controller="ProgramController as vm">
    <div class="location">
        <div program-location></div>
        <input type="button" name="" class="btn_reset" value="{{'LAB.INQUIRY' | translate}}" title="" ng-click="vm.search()"/>
    </div>
    <kendo-button k-on-click="vm.save()">{{'LAB.SAVE' | translate}}</kendo-button>
    <div class="datatable1">
        <form name="vm.from">
            <table>
                <colgroup>
                    <col width="100px"><col width="">
                    <col width="100px"><col width="">
                    <col width="100px"><col width="">
                    <col width="100px"><col width="">
                </colgroup>
                <tbody>
                    <tr>
                        <th ng-bind="vm.label.msgGrpCd">부서</th>
                        <td>
                            <common-code-combo code="RESOURCE_TYPE" value="CODE_DTL_CD" text="CODE_DTL_NM" property="CODE_DETAIL_LIST" ng-disabled="vm.disabled" ng-model="vm.search.msgGrpCd" name="grpCode"></common-code-combo>
                            <span class="shbox w100">
                                <input type="text" name="" class="k-textbox ip1" value="" title="" />
                                <input type="button" name="" class="k-button k-primary btn_search" value="" title="" />
                            </span>
                        </td>
                        <th ng-bind="vm.label.msgCd">부서1</th>
                        <td>
                            <input class="k-textbox w100" ng-model="vm.search.msgCd" name="code"/>
                            
                            <span class="k-textbox k-space-right w100">
                                <input type="text" id="icon-right"/>
                                <a href="#" class="k-icon k-i-search">&nbsp;</a>
                            </span>
                        </td>
                        <th ng-bind="vm.label.msgCdNm"></th>
                        <td>
                            <input class="k-textbox w95" ng-model="vm.search.msgNm" name="name"/>
                            <span ims-message="MSG.SAVE" ims-message-values="[2]"></span>
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="totalbox">
        <div class="l_box">
            <div class="total"><strong>Order 총 <span ng-bind="vm.gridMst.dataSource.total()">298</span></strong> 건</div>
            <ul>
                <li><a href="#"><img src="img/common/btn_icon1.gif" alt="+" ng-click="vm.addRow('gridMst')"></a></li>
                <li><a href="#"><img src="img/common/btn_icon2.gif" alt="-" ng-click="vm.removeRow('gridMst')"></a></li>
                <li><a href="#"><img src="img/common/btn_icon3.gif" alt="excel up"></a></li>
                <li><a href="#"><img src="img/common/btn_icon4.gif" alt="excel down"></a></li>
            </ul>
        </div>
    </div>
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.gridMst"
                     ims-grid="vm.test" k-options="imsgrid.options"
                     k-editable='{"mode": "popup", "create": true, "update": true, "destroy": false}'
                     k-data-source="vm.gridMstData" 
                     k-ng-delay="vm.gridMstData" 
                     k-columns="vm.gridMstColumns" 
                     k-on-change="vm.gridMstChange(kendoEvent, data, dataItem)"
                     k-on-remove="vm.gridMstRemove(kendoEvent)"
                     k-on-edit="vm.gridMstEdit(kendoEvent)"
                     k-on-grid-row-change="vm.gridMstRowChange(row, dataItem)" 
                     k-on-grid-row-dblclick="vm.gridMstDblClick(row, dataItem)"
                     k-on-grid-row-can-change="vm.gridCanChange(oldRow, oldData, currRow, currData)"
                     ></kendo-grid>
    </div>
    <div class="totalbox">
        <div class="l_box">
            <div class="total"><strong>Order 총 <span ng-bind="vm.gridDtl.dataSource.total()">298</span></strong> 건</div>
            <ul>
                <li><a href="#"><img src="img/common/btn_icon1.gif" alt="+" ng-click="vm.addRow('gridDtl')"></a></li>
                <li><a href="#"><img src="img/common/btn_icon2.gif" alt="-" ng-click="vm.removeRow('gridDtl')" ></a></li>
                <li><a href="#"><img src="img/common/btn_icon3.gif" alt="excel up" ></a></li>
                <li><a href="#"><img src="img/common/btn_icon4.gif" alt="excel down"></a></li>
            </ul>
        </div>
    </div>
    <div class="datatable2">
        <kendo-grid  k-scope-field="vm.gridDtl" 
                     ims-grid="vm.test" k-options="imsgrid.options" 
                     k-data-source="vm.gridDtlData" 
                     k-ng-delay="vm.gridDtlData" 
                     k-columns="vm.gridDtlColumns"
                     k-on-edit="vm.gridDtlEdit(kendoEvent)"></kendo-grid>
    </div>
</div>