<script type="text/javascript">
(function(){
    'use strict';
    function ProgramController($scope, $injector){
        console.log("module controller");
        console.log(this);
        var vm = this;
        vm.number = 3588500;
        vm.text = "module user test";
    }
    
    ProgramController.injector = ["$scope", "$injector"];
    angular.module("programModule")
    .controller("ProgramController", ProgramController);
})();
</script>
<div id="program" dynamic-controller="ProgramController as vm">
    <div class="content">
        <p>resource</p>
        <p>{{vm.id}}</p>
        <p>{{vm.number | currency }}</p>
        <span>{{vm.text}}</span>
    </div>
</div>
