<div id="allmenu_box">
    <div class="allbg" ng-click="menu.allbg()"></div>
    <div class="all_cont">
        <div class="img_t">
            <img src="img/common/btn_allmenu_on.gif" alt="전체메뉴">
        </div>
        <div id="wrapper">
            <div class="wbox">
                <program-menu-tree></program-menu-tree>
            </div>
        </div>
        <div class="allmenu">
            <a href="javascript:;"><img src="img/common/btn_allmenu_close.gif" class="allmenu_close" ng-click="menu.allmenu_close()" alt="닫기"></a>
        </div>
    </div>
</div>